doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        // displays site properly based on user's device
        link(rel='icon', type='image/png', sizes='32x32', href='./assets/images/favicon-32x32.png')
        title Frontend Mentor | FAQ accordion
        // Feel free to remove these styles or customise in your own stylesheet 👍
        link(rel="stylesheet", href="style.css")
        style.
            .attribution { font-size: 11px; text-align: center; }
                .attribution a { color: hsl(228, 45%, 44%); }
    body
        aside.asd 
            h1.asd__title FAQs
            ul.asd__list
                li.asd__list-item.asd__list-item--border
                    label(for="optionOne" tabindex="1") 
                        p What is Frontend Mentor, and how will it help me? 
                        span.span 
                    input.input#optionOne(type="checkbox", name="")
                    p.p#textOne
                        |Frontend Mentor offers realistic coding challenges 
                        |to help developers improve their frontend coding skills 
                        |with projects in HTML, CSS, and JavaScript. It&apos;s 
                        |suitable for all levels and ideal for portfolio building.
                li.asd__list-item.asd__list-item--border
                    label(for="optionTwo" tabindex="2") 
                        p Is Frontend Mentor free?
                        span.span
                    input.input#optionTwo(type="checkbox", name="") 
                    p.p#textTwo
                        |Yes, Frontend Mentor offers both free and premium coding challenges, with the free 
                        | option providing access to a range of projects suitable for all skill levels.
                li.asd__list-item.asd__list-item--border
                    label(for="optionThree" tabindex="3")  
                        p Can I use Frontend Mentor projects in my portfolio?
                        span.span 
                    input.input#optionThree(type="checkbox", name="")
                    p.p#textThree
                        |Yes, you can use projects completed on Frontend Mentor in your 
                        |portfolio. It&apos;s an excellent way to showcase your skills to potential employers!
                li.asd__list-item
                    label(for="optionFour" tabindex="4") 
                        p How can I get help if I&apos;m stuck on a Frontend Mentor challenge?
                        span.span
                    input.input#optionFour(type="checkbox", name="")
                    p.p#textFour
                        |The best place to get help is inside Frontend Mentor&apos;s 
                        |  Discord community. There&apos;s a help 
                        | channel where you can ask questions and seek support from other community members.
        
        
        //.attribution
            | Challenge by 
            a(href='https://www.frontendmentor.io?ref=challenge', target='_blank') Frontend Mentor
            | . 
            |  Coded by 
            a(href='#') Your Name Here
            | .
        script(src="/script.js") 

        